<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MFSFinalProjectConnectionString" connectionString="Data Source=DELL; Initial Catalog=MFSFinalProject; &#xD;&#xA;         Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="MFSFinalProject.Properties.Settings.MFSFinalProjectConnectionStringProcedure"
      connectionString="Data Source=DELL;Initial Catalog=MFSFinalProject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CompanyName" value="Ferreteria Frank"/>
  <add key="Address" value="Calle san josé de mendosa #2"></add>
    <add key="Phone" value="809-991-5323"></add>
    <add key="Slogan" value="Donde tu eres lo primero."/>
  </appSettings>

</configuration>